
.container{
  
    margin-top: 20px;
    margin-bottom: 10px;

}
.boton{
    margin-bottom: 30px;
    text-align: center;
    display:block;
   

    
}
.estilo{ 

    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9daef5;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
    color: #fafafa;
    font-size: 27px;
    padding: 19px;
    text-decoration: none;

}

h5{
    position: absolute;

    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img{
    width: 500px;
    height: 500px;
    display:block;
    float: right; margin: 0px 0px 15px 15px;
 
}
